
.container
{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section
{
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.para {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 2%;
}


.btn {
    height: 40px;
    width: 100px;
}